
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Desing Classes*/

.hi {
    color: #678823;
    background-color: #6a8e2317;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
    font-size: 180%;
}
p > span.ho{
    color: #8B0000;
}



li{ /*this take out the points which list has by defould*/
    list-style: none;
}
a.list:link, a.list:visited {  
    color: #493134;
    background-color: #66882339;
    text-decoration: none; /*This take out the underlines*/
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 120%;
}
a.list:hover{
    color: pink;
    background-color: #6fb98f;
}
a.list:active{
    color: rgb(212, 131, 145);
    background-color: rgb(24, 126, 24);
}



.poe{
    font-family: "Courier New";
    font-style: italic;
    color: #101d1d;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
    box-shadow: 5px 10px 10px pink;
    border-radius: 15px;
}
.backwall{ 
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), 
                url('backgrounds/fondo.webp'); /* Imagen de fondo */
    background-size: cover; 
    background-position: center;
    background-repeat: repeat; 
    height: auto; 
    position: relative; 
    
} 


.toppic{
    color: #668823;
    text-align: center;
    font-size: 200%;
    
}
img{
    box-shadow: 10px 10px 10px 0px #475e199d;
}
.imgback{
    background-color: rgb(241, 237, 237);
    position: relative;
}
@media (max-width: 575px) {
    .hi {
        font-size: 150%;
    }
    .poe {
        font-size: 120%;

    }
    a.list:link, a.list:visited {  
        font-size: 140%;
    }
}
@media(min-width: 576px){
    img{
        margin-right: 1%;
    }
}